.Chat-Bot {
    background:#e9d6b5;
    height: 849px;
    display: flex;
    justify-content: center;

}


.IP1 {
    padding: 70px;
    background-color: #ffffff;
    width: 400px;
    height: 520px;
    position: center;
    border-radius: 25px;
    margin-left: px;
    margin-top: 50px;
}

.Chat-Box2 {
    padding: 70px;
    background-color: #ffffff;
    width: 400px;
    height: 520px;
    position: center;
    border-radius: 25px;
    margin-left: -55px;
    margin-top: 50px;
}


#res-title {
    font-size: 20px;
    color: #e47113;




}

#cal-content {
    font-size: 15px;
    font-family: sans-serif;
    color: #d4a177;
    margin-top: 40px;


}

.calculate-button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2e4b69c2;
    color: #ffffff;
    border-radius: 60px;
    border: outset;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
}

.calculate-button:hover {
    background-color: #092350; /* Darker orange on hover */
    cursor: pointer;
}

button.calculate-button a{
    text-decoration: none;
    color: #e47113;

}

.Generate-button{
    display: inline-flex;
    margin-left: -160px;
    margin-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    position: center;


}

.form-item {
    margin-top: 30px;
    background-color: #e9d6b5;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-top: 2%;
    border-radius: 12px;


}

.filling-form {
    display: inline-flex;
    margin-top: 3px;
}

.form-symbol {
    background-color: #97a6c0;
    color: #2e4b69;
    padding: 8px 12px;
    font-weight: 600;


}

.Heading{
    font-family: sans-serif;
    font-weight: 600;
    color: #2e4b69;
}

#form-textbox {
    background-color: #f5e5c6dc;
    border: 1px solid #e9d6b5cd;

}



.filling-form {
    border: 1px solid transparent;
}

#res-brief  {
    font-size: 15px;
    font-family: sans-serif;
    color: #2e4b69;
    margin-top: 20px;
    width: 300px;
}

.res-res {
    font-size: 15px;
    font-family: sans-serif;
    color: #2e4b69;
    margin-top:15px;
    font-weight: 600;
    background-color: #e9d6b5;
    padding: 25px;
    border-radius: 5%;

}