<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YFA</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/Chatbot-style.css}">
    <script src="calculator.js"></script>

</head>

<body>
<nav class="navbar">

    <div class="menu-container">
        <a href="Homepage.html" id="logo">YFA</a>
    </div>

    <ul class="menu">

        <li class="page">
            <a href="Chatbot.html" class="navbar-links">Advisor</a>
        </li>

        <li class="page">
            <a href="FAQ.html" class="navbar-links">FAQ</a>
        </li>

    </ul>
</nav>

<main>


    <div class="Chat-Bot">
        <div class="ChatBot">

            <form>
            <div class="IP1">
                <p id="res-title">User Details and Financial Goals:</p>

                <div class="form-item">
                    <label class="Heading">Monthly Income</label>
                    <div class="filling-form" id="form-textbox">
                        <p class="form-symbol">£</p>
                        <input id="Monthly-income-main" type="number" name="Monthly-income" placeholder=" Enter Monthly income" required>
                    </div>
                </div>



                <div class="form-item">
                    <label class="Heading">Financial Aim</label>
                    <div class="filling-form" id="form-textbox">
                        <p class="form-symbol">|</p>
                        <input id="Financial-aim-main" type="text" name="Financial-aim"  placeholder=" Enter Financial Aim" required/>
                    </div>
                </div>


                <div class="form-item">
                    <label class="Heading">Monthly Saving</label>
                    <div class="filling-form" id="form-textbox">
                        <p class="form-symbol">£</p>
                        <input id="Monthly-saving-main" type="number" name="Monthly-saving" placeholder=" Enter Monthly Savings"required>
                    </div>
                </div>


            </div>

        </div>


        <div class="Chat-Box2">
            <p id="res-title">How much do you spend per month on:</p>

            <div class="form-item">
                <label class="Heading">Necessities</label>
                <div class="filling-form" id="form-textbox">
                    <p class="form-symbol">£</p>
                    <input id="Necessities-main" type="number" name="Necessities" placeholder=" Enter amount spent" required>
                </div>
            </div>


            <div class="form-item">
                <label class="Heading">Leisure & miscellaneous</label>
                <div class="filling-form" id="form-textbox">
                    <p class="form-symbol">£</p>
                    <input id="Leisure-miscellaneous-main" type="number" name="Leisure-miscellaneous"  placeholder=" Enter amount spent" required/>
                </div>
            </div>


            <div class="form-item">
                <label class="Heading">Subscriptions</label>
                <div class="filling-form" id="form-textbox">
                    <p class="form-symbol">£</p>
                    <input id="Subscriptions-main" type="number" name="Subscriptions" placeholder=" Enter amount spent"required>
                </div>
            </div>

            <div>

            </div>

            <div class="Generate-button">

                <button id="calculate-button" class="calculate-button" type="button"> <a>Generate Advice </a> </button>

            </div>
            <form>
        </div>


    </div>
</main>


</body>
</html>