<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Mortgage Advise</title>
</head>
<body>
<nav class="navbar">

    <div class="menu-container">
        <a href="/" id="logo">YFA</a>
    </div>

    <ul class="menu">
        <li class="page">
            <a href="/chatbot" class="navbar-links">Talk to Our Chatbot</a>
        </li>
        <li class="page">
            <a href="/financeAdvice" class="navbar-links">Chatbot Results</a>
        </li>
    </ul>
</nav>

<main>
    <div class="Hero">
        <div class="Hero-container">
            <div class="Hero-content">
                <h1 th:text="${chatbotOutput1}">Waiting On Results...</h1>
                <h1 th:text="${chatbotOutput2}"></h1>
                <h1 th:text="${chatbotOutput3}"></h1>
                <h1 th:text="${chatbotOutput4}"></h1>
                <h1 th:text="${chatbotOutput5}"></h1>
                <h1 th:text="${chatbotOutput6}"></h1>
            </div>
        </div>
    </div>
</main>
</body>
</html>