<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YFA</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">

</head>

<body>
<nav class="navbar">

    <div class="menu-container">
        <a href="Login.html" id="logo">YFA</a>
    </div>

</nav>

<main>
    <div class="Contact-us-container">
        <div class="forum">
            <div class="forum-box">
                <h2 id="Forum-title">YourFinancialAdvisor </h2>


            <form action="/login" method="post">
                <div class="forum-item">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="Email" placeholder=" Enter your email" required />
                    <span class="error-message" id="email-error"></span>
                </div>

                <div class="forum-item">
                    <label for="name">Password</label>
                    <input id="name" type="text" name="name" placeholder=" Enter your password" required />
                    <span class="error-message" id="name-error"></span>

                </div>
                <button> Log in </button>
            </form>


                <div class="Register-item">
                    <p>Don't have an Account? <a href="register.html">Sign Up</a></p>
                </div>

            </div>



        </div>

    </div>



</main>



</body>



</html>