.navbar {
    background: #e9d6b5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19.2px;
    position: sticky;
    top: 0;
    z-index: 1200;
}

#logo {
    color: #e47113;
}

.Contact-us-container {
    background: #e9d6b5;
    height: 762px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forum-box {
    padding: 40px;
    background-color: #ffffff;
    width: 400px;
    height: 520px;
    border-radius: 25px;
}

#Forum-title {
    font-size: 24px;
    color: #2e4b69;
    margin-bottom: 20px;
    text-align: center;
}

.forum-item {
    margin-bottom: 20px;
}

.forum-item label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #2e4b69;
    margin-bottom: 5px;
}

.forum-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e9d6b5;
    background-color: #e9d6b5;
    border-radius: 5px;
    font-size: 14px;
}

.forum-box button {
    width: 100%;
    padding: 10px;
    margin-top: 21px;
    background-color: #2e4b69;
    color: #e9d6b5;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;

}


.forums-item label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #2e4b69;
    margin-bottom: 5px;
}

.forums-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e9d6b5;
    background-color: #e9d6b5;
    border-radius: 5px;
    font-size: 14px;
    height: 100px;

}

.Register-item  {
    width: 100%;
    padding: 52px;
    font-size: 14px;


}


.forum-box button:hover {
    background-color: #e9d6b5;
    color: #e47113;
}


